
body, html {
    font-family: 'Lato', Helvetica, sans-serif;
    line-height: 1.8;
    padding-bottom: 3rem;
    overflow-x: hidden;
    color: grey(30);
}

a {
    color: inherit;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.t-center {
   text-align: center; 
}
