@mixin Table($name: 'Table') {

    .#{$name} {
        width: 100%;

        &_headCell {
            text-align: left;
            font-weight: 500;
            @include BruceDirectionModifiers('padding' 'Milli', 'padding', .5rem);
            @include BruceDirectionModifiers('padding', 'padding', 1rem);
        }

        &_cell {
            @include BruceDirectionModifiers('padding' 'Milli', 'padding', .5rem);
            @include BruceDirectionModifiers('padding', 'padding', 1rem);
        }
    }

    @content;
}
