@mixin Base {

    $baseLineHeight: 1.6;

    html {
        font-family: font('copy');
        font-size: 16px;
        height: 100%;
        line-height: $baseLineHeight;
        position: relative;
        -webkit-font-smoothing: antialiased;
    }

    body {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        background-color: color('bodyBackground');
        color: color('copy');
        font-family: font('copy');
        font-size: 1rem;
        font-weight: 300;
        height: 100%;
        line-height: $baseLineHeight;
        overflow-x: hidden;
        text-rendering: optimizelegibility;

        &[aria-hidden='true'] {
            overflow: hidden;
        }
    }

    p, h1, h2, h3, h4, h5, h6 {
        // font-family: font('copy');
        font-size: 1rem;
        line-height: $baseLineHeight;
    }

    button {
        -webkit-appearance: none;
        background-color: transparent;
        font-family: inherit;
        outline: none;
        border: none;
        font-size: inherit;
        color: inherit;
    }

    a {
        color: inherit;
        cursor: pointer;
        text-decoration: none;

        &:focus {
            outline: none;
        }
    }

    iframe {
        display: block;
    }

    img {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ul, ol {
        list-style-type: none;
    }

    @content;
}
