%sectionSides {
    position: relative;
    padding: 2rem 0;
    margin-bottom: 2rem;
    color: white;

    
    @include bruce-breakpoint('small') {
        padding: 5rem 0;
    }

    &:before,
    &:after {
        content: '';
        width: 150%;
        position: absolute;
        left: -150%;
        background-color: inherit;
        top: 0;
        bottom: 0;
        z-index: -1;
        box-shadow: inherit;
    }

    &:after {
        left: auto;
        right: -150%;
    }
}

@each $name, $color in (
    'dice' 'red',
    'card' 'blue',
    'blue' 'blue',
    'green' 'green',
    'yellow' 'yellow',
    'orange' 'orange'
) {
    .Header-#{$name} {
        @extend %sectionSides;
        background-color: color($color);
        box-shadow: inset 0 -1rem 0 0 darken(color($color), 4);
            
    }
}

.HeaderLink {
    color: black;
    opacity: .3;
}
