.Markdown {
    padding-bottom: 2rem;

    * + * {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    h2, h3 {
        margin-top: 1.5rem;
    }

    ul {
        padding-left: 2rem;
        list-style-type: square;
    }

    li {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    table {
        @extend %Table-base;
    }

    td {
        border: 1px solid grey(80);
    }
}
